.register-form {
    margin: 64px auto;
    width: 60%;
}

.register-form__heading {
    font-size: 32px;
    margin-bottom: 32px;
}

.register-form__inner {
    width: 100%;
}

.register-form__group {
    margin-top: 32px;
}

.register-form__label {
    font-size: 18px;
}

.register-form__required {
    background: #ff0000;
    color: #fff;
    padding: 4px;
    font-size: 14px;
    margin-left: 12px;
    font-weight: lighter;
}

.register-form__select {
    color: #ff0000;
    margin-left: 10px;
}

.register-form__input {
    margin-top: 12px;
    padding: 4px 8px;
    background: #FFF;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    height: 42px;
    width: 100%;
}

.register-form__input-image {
    margin-top: 14px;
    display: block;
}

.register-form__season-inputs {
    display: flex;
    justify-content: left;
    margin-top: 16px;
}

.register-form__season-select {
    margin-right: 64px;
    font-size: 18px;
}

.register-form__season-label {
    display: flex;
    align-items: center;
}

.register-form__season-input {
    position: absolute;
    appearance: none;
}

.register-form__season-label {
    display: flex;
    align-items: center;
}

.register-form__season-label::before {
    content: '';
    display: block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #FFF;
}

.register-form__season-input:checked+.register-form__season-label::before {
    background-color: #444343;
}

.register-form__textarea {
    display: block;
    margin-top: 12px;
    padding: 10px 12px;
    background: #FFF;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.register-form__btn-inner {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
    gap: 32px;
}

.register-form__back {
    width: 200px;
    text-decoration: none;
    background: #bfbfbf;
    border-radius: 5px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px 0px rgba(139, 121, 105, 0.25);
}

.register-form__error-message {
    margin-top: 18px;
    color: #ff0000;
}
